# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# PDF outputs
PO_FINAL.pdf
PO/*.pdf
output
test

# VS Code
.vscode/

# OS
Thumbs.db
.DS_Store

# TQDM cache
.tqdm_cache/

# Misc
*.log
*.bak

# CSV data
ListMCH.csv

# Executables
*.exe
*.spec

# PyInstaller build
dist/
build/

# Ignore test artifacts
test_*.pdf
